body {
  background-color: #4877fb;
  margin: 10px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.naslo1 {
  justify-content: flex-start;
}

.container {
  background-color: #4877fb;
  height: 50x;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tekst {
  background-color: #4877fb;
  padding: 70px 0px;
  text-align: left;
  align-items: center;
  height: 200px;
}

img {
  float: right;
  padding: 30px 50px;
  display: flex;
  justify-items: center;
}
.link {
  width: 300px;
  height: 20px;
}
